@model FacilityManagement.Models.Room

@{
    ViewData["Title"] = "Chỉnh Sửa Phòng";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1 class="text-primary">Chỉnh Sửa Phòng</h1>

<h4 class="text-dark">Thông Tin Phòng</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoomId" />

            <div class="form-group">
                <label asp-for="RoomName" class="control-label fw-bold text-primary"></label>
                <input asp-for="RoomName" class="form-control border-primary" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BuildingId" class="control-label fw-bold text-primary"></label>
                <select asp-for="BuildingId" class="form-control border-primary" asp-items="ViewBag.BuildingId"></select>
                <span asp-validation-for="BuildingId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomType" class="control-label fw-bold text-primary"></label>
                <input asp-for="RoomType" class="form-control border-primary" />
                <span asp-validation-for="RoomType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Capacity" class="control-label fw-bold text-primary"></label>
                <input asp-for="Capacity" class="form-control border-primary" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label fw-bold text-primary"></label>
                <input asp-for="Description" class="form-control border-primary" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
