@model FacilityManagement.Models.Admin

@{
    ViewData["Title"] = "Chi Tiết Quản Trị Viên";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<style>
    body {
        background-color: white;
    }

    .text-primary {
        color: #052c93;
    }

    .form-group label {
        font-weight: bold;
        color: #052c93;
    }

    .btn-primary {
        background-color: #052c93;
        border-color: #052c93;
        color: white;
    }

        .btn-primary:hover {
            background-color: #041f6a;
            border-color: #041f6a;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
    }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
</style>

<h1 class="text-primary"><i class="fas fa-user"></i> Chi Tiết Quản Trị Viên</h1>

<div>
    <h4 class="text-primary"><i class="fas fa-info-circle"></i> Thông Tin Quản Trị</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3"><i class="fas fa-user"></i> Họ và Tên</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.AdminName)</dd>

        <dt class="col-sm-3"><i class="fas fa-user-circle"></i> Tên Đăng Nhập</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Username)</dd>

        <dt class="col-sm-3"><i class="fas fa-lock"></i> Mật Khẩu</dt>
        <dd class="col-sm-9">********</dd>
