<style>
    /* Tiêu đề */
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 24px;
        font-weight: bold;
        color: #007bff; /* Màu xanh đậm */
        margin-bottom: 20px;
    }

    /* Nội dung */
    p {
        font-size: 16px;
        line-height: 1.5;
        color: #666;
        margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #052c93; /* Màu xanh đậm cho tiêu đề */
    }
    /* Hình ảnh */
    img {
        width: 1280px;
        margin: 20px auto;
        border: 2px solid #ccc;
        border-radius: 10px;
        box-shadow: 2px 2px 5px #888;
    }

    /* Caption hình ảnh */
    figcaption {
        text-align: center;
        font-size: 14px;
        color: #888;
    }

    /* Tùy chỉnh thêm */
    .page-title-bg {
        background-color: #f0f0f0; /* Màu nền tiêu đề */
        padding: 50px 0;
    }

    .entry-content p strong {
        font-weight: bold;
        color: #333;
    }
</style>
<main id="main" class="">
    <div id="content" role="main" class="content-area page-banner">

        <header class="entry-header page-title-bg img-banner">
            <div class="section-bg bg-fill fill" style="background-image: url()"></div>
            <h1 class="entry-title col-fix">Cơ sở vật chất</h1>
        </header>
        <div class="breadcrumb-post">
        </div>
        <div class="row">
            <div class="col">
                <div class="entry-content">
                    <p><strong><span style="font-size: 16px;"><em>Với mục tiêu “Sinh viên là số 1” và tạo điều kiện tốt nhất cho sinh viên trong quá trình học tập, trường Đại học Nguyễn Trãi (NTU) hướng tới việc xây dựng môi trường học tập theo tiêu chí: Chuyên nghiệp – Thân thiện – Năng động.</em></span></strong></p>
                    <p style="text-align: justify;"><span style="font-size: 16px;">Để đảm bảo chất lượng đào tạo, trường Đại học Nguyễn Trãi đã và đang tích cực đầu tư, hoàn thiện hệ thống cơ sở vật chất và trang thiết bị giảng dạy đạt chuẩn quốc tế.</span></p>
                    <p style="text-align: justify;"><span style="font-size: 16px;"><strong>Điều kiện học tập</strong></span></p>
                    <p><span style="font-size: 16px;">Cơ sở 1: Tại tòa nhà LADECO 266 Đội Cấn – Ba Đình – Hà Nội</span></p>
                    <p><span style="font-size: 16px;">Với tổng diện tích xây dựng là 7.122 m2 với Hệ thống đại giảng đường doanh nghiệp đầu tiên tại Việt Nam. </span>Đây là nơi hội tụ các doanh nghiệp đa lĩnh vực, ngành nghề là nơi mang đến những trải nghiệm thực tập, thực tế cho sinh viên NTU.</p>
                    <figure id="attachment_13561" aria-describedby="caption-attachment-13561" style="width: 1500px" class="wp-caption aligncenter"><img fetchpriority="high" decoding="async" class="wp-image-13561 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Dai-hoc-Nguyen-Trai-co-so-2.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Dai-hoc-Nguyen-Trai-co-so-2.jpg" alt="" width="1500" height="2185"><figcaption id="caption-attachment-13561" class="wp-caption-text">Cơ sở 1: Tại tòa nhà LADECO 266 Đội Cấn – Ba Đình – Hà Nội</figcaption></figure>
                    <p><strong>Cơ sở 2: Tòa nhà 28A, Lê Trọng Tấn, Hà Đông, Hà Nội </strong></p>
                    <p style="text-align: justify;"><span style="font-size: 16px;"><strong>Hệ thống phòng học:&nbsp;</strong>Hệ thống phòng học được đầu tư các trang thiết bị hiện đại: như máy chiếu, điều hòa nhiệt độ, hệ thống âm thanh, hệ thống thiết bị chiếu sáng, thông gió<strong>,</strong> máy chiếu, điều hòa,… hỗ trợ tích cực cho hoạt động học tập và giảng dạy.</span></p>
                    <p style="text-align: justify;"><span style="font-size: 16px;">Tất cả các phòng/lớp học của NTU: Lớp học Tiếng Hàn thông minh, phòng Vẽ, phòng máy, phòng Cenima …đều được trang bị các phương tiện Media cao cấp, đầy đủ các thiết bị hỗ trợ cho hoạt động đào tạo và nghiên cứu khoa học, hệ thống mạng máy tính đồng bộ, sử dụng các phầm mềm được cung cấp bởi Microsoft.</span></p>
                    <figure id="attachment_13552" aria-describedby="caption-attachment-13552" style="width: 1500px" class="wp-caption aligncenter"><img decoding="async" class="wp-image-13552 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/co-so-1-truong-Dai-hoc-Nguyen-Trai.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/co-so-1-truong-Dai-hoc-Nguyen-Trai.jpg" alt="" width="1500" height="1108"><figcaption id="caption-attachment-13552" class="wp-caption-text">Cơ sở 28A Lê Trọng Tấn, Hà Đông, Hà Nội</figcaption></figure>
                </div>
                <figure id="attachment_13732" aria-describedby="caption-attachment-13732" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13732 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1816-1-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1816-1-scaled.jpg" alt="" width="1500" height="925"><figcaption id="caption-attachment-13732" class="wp-caption-text">Hệ thống phòng học được trang trí theo đặc trưng ngành</figcaption></figure>
                <figure id="attachment_13729" aria-describedby="caption-attachment-13729" style="width: 2560px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13729 size-full lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1915-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1915-scaled.jpg" alt="" width="2560" height="1493"><figcaption id="caption-attachment-13729" class="wp-caption-text">Các phòng học đều được trang bị điều hòa, máy chiếu, TV…</figcaption></figure>
                <figure id="attachment_13726" aria-describedby="caption-attachment-13726" style="width: 2560px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13726 size-full lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1823-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1823-scaled.jpg" alt="" width="2560" height="1509"><figcaption id="caption-attachment-13726" class="wp-caption-text">Phòng học tiếng Hàn thông minh</figcaption></figure>
                <figure id="attachment_13727" aria-describedby="caption-attachment-13727" style="width: 2560px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13727 size-full lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1841-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1841-scaled.jpg" alt="" width="2560" height="1707"><figcaption id="caption-attachment-13727" class="wp-caption-text">Phòng học tiếng Nhật</figcaption></figure>
                <figure id="attachment_13731" aria-describedby="caption-attachment-13731" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13731 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1948-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1948-scaled.jpg" alt="" width="1500" height="1000"><figcaption id="caption-attachment-13731" class="wp-caption-text">Thư viện đa màu sắc</figcaption></figure>
                <figure id="attachment_13733" aria-describedby="caption-attachment-13733" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13733 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1975-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1975-scaled.jpg" alt="" width="1500" height="1000"><figcaption id="caption-attachment-13733" class="wp-caption-text">Hệ thống máy tính tại phòng máy được trang bị hiện đại, đời mới</figcaption></figure>
                <figure id="attachment_13735" aria-describedby="caption-attachment-13735" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13735 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1920-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1920-scaled.jpg" alt="" width="1500" height="944"><figcaption id="caption-attachment-13735" class="wp-caption-text">Phòng chờ dành cho Giảng viên, sinh viên</figcaption></figure>
                <figure id="attachment_13736" aria-describedby="caption-attachment-13736" style="width: 2560px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13736 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1933-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1933-scaled.jpg" alt="" width="2560" height="1451"><figcaption id="caption-attachment-13736" class="wp-caption-text">Phòng máy hiện đại và sang trọng</figcaption></figure>
                <figure id="attachment_13737" aria-describedby="caption-attachment-13737" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13737 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/san-choi-NTU.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/san-choi-NTU.jpg" alt="" width="1500" height="932"><figcaption id="caption-attachment-13737" class="wp-caption-text">“Thảm cỏ xanh” một trong những khuôn viên yêu thích nhất của sinh viên</figcaption></figure>
                <figure id="attachment_13738" aria-describedby="caption-attachment-13738" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13738 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1902-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1902-scaled.jpg" alt="" width="1500" height="1048"><figcaption id="caption-attachment-13738" class="wp-caption-text">Cây bán hàng tự động tiện ích phục vụ thầy và trò</figcaption></figure>
                <figure id="attachment_13739" aria-describedby="caption-attachment-13739" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13739 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1983-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1983-scaled.jpg" alt="" width="1500" height="1000"><figcaption id="caption-attachment-13739" class="wp-caption-text">Phòng vẽ ngăn nắp, gọn gàng</figcaption></figure>
                <figure id="attachment_13740" aria-describedby="caption-attachment-13740" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13740 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/thu-vien-Dai-hoc-Nguyen-Trai.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/thu-vien-Dai-hoc-Nguyen-Trai.jpg" alt="" width="1500" height="1000"><figcaption id="caption-attachment-13740" class="wp-caption-text">Thư viện xanh – sạch – đẹp</figcaption></figure>
                <p>&nbsp;</p>
                <div class="entry-content">
                    <figure id="attachment_13724" aria-describedby="caption-attachment-13724" style="width: 1500px" class="wp-caption alignnone"><img decoding="async" class="wp-image-13724 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1800-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/DATT1800-scaled.jpg" alt="" width="1500" height="874"><figcaption id="caption-attachment-13724" class="wp-caption-text">Phòng học trang bị bàn ghế hiện đại</figcaption></figure>
                    <p><strong>Cơ sở 3: Dự án </strong><strong>Khu đô thị đại học thông minh quốc tế Nguyễn Trãi </strong><strong>với quy mô </strong><strong>34ha bao gồm</strong>:</p>
                    <p>– Khu đất 14ha có chức năng là Trường Đại học và các Viện nghiên cứu. Gồm có, Trường Đại học Nguyễn Trãi; trường Đại học Quốc tế Việt Hàn; trường Phổ thông Quốc tế nhiều cấp học; Nhà Văn hóa Việt Hàn; Bệnh viện thực hành và Khu cây xanh, Thể dục thể thao, giao thông.</p>
                    <p>– Khu đất 20ha có chức năng đô thị trong đó 3,7ha đất giao thông mở đường vành đai 3,5; đất nhà ở 2,3ha; đất hỗn hợp 14ha có chức năng đô thị, đất nhóm nhà ở xây dựng mới, đất công viên cây xanh, thể dục thể thao đơn vị ở, đất giao thông.</p>
                    <p><img decoding="async" class="wp-image-13573 aligncenter lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Du-an-khu-do-thi-Dai-hoc-Nguyen-Trai-1-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Du-an-khu-do-thi-Dai-hoc-Nguyen-Trai-1-scaled.jpg" alt="" width="1500" height="844"></p>
                    <p>Đây là nơi thúc đẩy hệ sinh thái khởi nghiệp đổi mới sáng tạo, là nơi thực hiện hóa năng lực tiếp cận cuộc cách mạng lần thứ Tư. Hiện thực hóa ứng dụng công nghệ cao từ quản trị đến vận hành như: “Quản trị thông minh, Kinh tế thông minh, Môi trường thông minh, kết nối hạ tầng thông minh và nâng cao chất lượng cuộc sống con người”.</p>
                    <p>Smart city – Khu Đô thị mới Đại học thông minh Quốc tế Nguyễn Trãi là dự án được đầu tư xây dựng và phát triển các hệ sinh thái đào tạo giáo dục từ mầm non tới đại học và sau đại học:</p>
                    <p>(1) Hệ sinh thái giáo dục đào tạo, nghiên cứu khoa học, đào tạo nhân lực chất lượng quốc tế với chương trình đào tạo quốc tế cấp bằng tại Việt Nam</p>
                    <p>(2) Hệ sinh thái nghiên cứu, phát triển ứng dụng công nghệ cao, công nghệ số, trí tuệ nhân tạo, đổi mới sáng tạo</p>
                    <p>(3) Hệ sinh thái hạ tầng, đô thị thông minh, dịch vụ y tế, tài chính; các quỹ tích tụ các giá trị văn hiến, văn hóa Việt Nam, giao lưu văn hóa quốc tế.</p>
                    <p><img decoding="async" class="alignnone wp-image-13574 lazy-load-active" src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Du-an-khu-do-thi-Dai-hoc-Nguyen-Trai-2-scaled.jpg" data-src="https://daihocnguyentrai.edu.vn/wp-content/uploads/2022/04/Du-an-khu-do-thi-Dai-hoc-Nguyen-Trai-2-scaled.jpg" alt="" width="1500" height="844"></p>
                </div>
            </div>
        </div>

    </div>



</main>